* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3B5998;
}

a.selected {
    color: green;
}

button {
    background: none;
    outline: none;
    border: 1px solid #3B5998;
    padding: 5px;
    border-radius: 5px;
    color: #3B5998;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: #3B5998;
}

th, td {
    padding: 10px;
}

.navigation {
    display: flex;
}

.navigation li {
    padding: 10px;
}

.carousal td {
    text-align: center;
}

.section-heading {
    text-align: center;
    padding: 5px;
    color: #3B5998;
}

.footer {
    text-align: center;
}

.banner ul {
    list-style-type: disc;
}
